:root {
    --text-color: black;

    --color1: #F9ED69;
    --color2: #F08A5D;
    --color3: #B83B5E;
    --color4: #6A2C70;

    --color-selected: #F9ED69;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;

    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;

    background-image: linear-gradient(220deg, var(--color1), var(--color2), var(--color3), var(--color4));
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#navbar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar>ul {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
}

#navbar>ul li {
    margin-inline: 2rem;
    padding: 0.5rem;
    min-width: 8rem;

    border-radius: 0.5rem;

    color: white;
    background-color: black;

    cursor: pointer;
}

#navbar>ul li {
    transition: all 0.5s ease-in-out;
}


#navbar>ul li:hover {
    background-color: var(--color1);
    color: black;
}


#input-n-wrap {
    width: 100%;
    margin-top: 2rem;
}

#input-n {
    width: 40%;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    z-index: 10;
}

.tooltip {
    display: none;
}


#input-n:focus ~ div[class^='tooltip'] {
    position: absolute;
    display: grid;

    place-items: flex-start;

    background-image: linear-gradient(220deg, var(--color1), var(--color3));    color: white;

    padding: 0.5rem;
    border-radius: 0.5rem;
    
    transform: translate(-50%, -50%);

    top: 10%;
    left: 50%;
    z-index: 100;

}

#btn-input-n {
    width: 2.5rem;
    height: 2.3rem;

    vertical-align: top;

    cursor: pointer;
}

#select-from, #select-to, #from-and-to {
    display: none;
}

#rods-wrap {
    display: grid;
    place-items: center;
    margin-top: -5rem;
    pointer-events: visible;
    visibility: hidden;

    border: 20px solid white;
}

#rods {
    display: flex;
    gap: 15rem;
    position: relative;

    width: 90%;
    height: 35rem;
    margin-top: 2rem 0;

    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.rod {
    height: 15rem;
    width: 5px;
    color: black;
    border: 0.5rem groove black;
    border-radius: 1rem;

    visibility: visible;
    text-align: center;
    /* center the rod */
    cursor: pointer;
}

.rod:hover {
    opacity: 70%;
}

.rod::before {
    /* stand for the rod */
    /* rectangular */

    content: "";

    display: inline-block;
    position: absolute;

    --height: 50px;
    --width: calc(var(--height)*2);
    --mul: 2;

    width: calc(var(--height)*var(--mul));
    height: calc(var(--height));

    background-image: linear-gradient(180deg, grey, black);
    transform: translate(-50%) rotateX(70deg);

    bottom: 25%;
    z-index: 10;

}

.rod::after {

    /* stand for rod */
    /* circular */

    content: "";

    background-image: linear-gradient(180deg, black, grey);
    --x: 150px;

    height: calc(var(--x));
    width: calc(var(--x)*1.5);

    border-radius: 100rem;

    position: relative;

    display: inline-block;

    transform: translate(-50%) rotateX(80deg);
    /* -webkit-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -moz-transform: rotate(100deg); */
    top: 65%;
}


.rod-name {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.disc {
    --x: 20px;
    --level: -1;
    --size: 12;



    width: calc(var(--x)*(var(--size)/8 + 1)*5);
    height: calc(var(--x));

    transform: translate(-50%) rotateX(35deg);
    
    bottom: calc(33% + var(--x)*(var(--level)));

    border-radius: 1rem;

    z-index: 10;
    position: absolute;
    background-image: linear-gradient(black, black);

    border: 2px solid;
    border-color: var(--color4);

}

.popup {
    position: absolute;
    display: grid;

    place-items: center;

    padding: 0.5rem;
    border-radius: 0.5rem;
    
    transform: translate(-50%, -50%);

    bottom: 10%;
    left: 50%;
    z-index: 100;
    
    /* transition on the popup */
    transition: all 0.5s ease-in-out;

}

.popup-error {
    background-color: red;
}

.popup-success {
    background-color: green;
}